*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: red;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 90%;
    max-width: 1024px;
    margin:auto
}

.logo{

    width: 200px;
}

.flex{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.main{

    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 16px;
}

.pagination{

    align-items: center;
    justify-content: space-between;

}

.nav{
    justify-content: space-between;
}

.coin{
    width: 90px;
    height: 90px;
}

.btn-circle{
    display: block;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.card{
    width: auto;
}

.card-link{

    width: auto;
}
.card-img{
    width: 185px;
    height: 185px;
    padding: 20px;
    margin: 5px;
}

.card-title{
    font-size: 1em;
}