*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: red;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 90%;
    max-width: 1024px;
    margin:auto
}

.logo{

    width: 200px;
}


.main{

    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 16px;
}

.pagination{

    align-items: center;
    justify-content: space-between;

}

.nav{
    justify-content: space-between;
}

.coin{
    width: 90px;
    height: 90px;
}

.btn-circle{
    display: block;
    width: auto;
    height: auto;
    border-radius: 50%;
}